*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fdf4f4;
}

.mainbox {
  width: 100%;
  margin: 100px auto 0 auto;
  font-family: sans-serif;
}

.mainbox p{
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.textbox{
  border: 2px solid black;
  border-radius: 8px;
  font-size: large;
  width: fit-content;
  padding: 10px 20px 10px 40px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.textbox ol li{
  font-size: large;
  padding: 5px 0;
  text-transform: capitalize;
}
.textbox ol li a{
  text-decoration: none;
  color: #000;
}
.textbox ol li a:hover{
  /* color: #494949; */
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.2s;
} 

.home_page {
  width: 100%;
  height: 100%;
  margin: 60px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_page img {
  width: 100%;
  height: 700px;
}

.navtext{
  color: #000;
  font-weight: bold;
}
.navtext:hover{
  color: #343434;
}

.sundaytext{
  /* width: 100% !important; */
  margin: 50px auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer css start here */

footer {
  padding: 10px;
  margin: 5px;
  height: auto;
  border: 2px solid rgb(4, 4, 52);
  border-radius: 10px;
  background: linear-gradient(to right, #000, #d2e1f0, #000);
}

.social-media {
  position: relative;
}

.social-media .fa {
  font-size: 30px;
  text-decoration: none;
  padding: 2px;
  margin: 12px;
}

.social-media .fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: rgb(244, 66, 95);
}

.fa-github {
  color: black;
}

.fa-twitter {
  color: #2f9df0;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-facebook {
  color: #214fb1;
}

.fa-youtube {
  color: rgb(236, 24, 24);
}

/* footer css end here */

@media (max-width: 1000px) {
  .home_page img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .mainbox p{
    font-size: 25px;
  }
  .textbox{
    padding: 10px 33px;
    margin: 50px 5px;
  }
  footer {
    margin: 5px;
    height: auto;
  }
  footer b {
    display: block;
  }
}
